.componentTwo{
    margin-bottom: 140px;
}

.innerMediaTabs{
    width: 80%;
}

.multiHeading {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #504EE4;
}

.reactHeading {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    color: #0E0D59;
}

.uniteContent {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #2D2C76;
    max-width: 880px;
    margin-bottom: 44px;
}

.mediaTab {
    padding: 12px;
    cursor: pointer;
    gap: 10px;
}

.activeTab {
    background-color: #F5EFFF;
    border-radius: 8px;
}

.mediashrLine {
    height: 1px;
    background: linear-gradient(90deg, rgba(236, 235, 248, 0) 0%, #ECEBF8 4.65%, #ECEBF8 94.04%, rgba(236, 235, 248, 0) 100%), linear-gradient(0deg, #ECEBF8, #ECEBF8);
    margin-bottom: 70px;
}

.mediaTabList{
    display: flex;
}

@media only screen and (max-width: 1024px){
    .componentOne{
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1000px){
    .innerMediaTabs{
        width: 90%;
    }
}

@media only screen and (max-width: 768px){
    .mediaTabList{
        display: none;
    }

    .mediashrLine{
        display: none;
    }

    .mediaTabContainer{
        display: block !important;
    }

    .mediaTabProgress{
        display: none !important;
    }

    .mediaTabLeftContent, .mediaTabRighContent{
        width: 100% !important;
    }
}